body {
  background-color: midnightblue;
  color: white;
  text-align: center;
}

.botones {
  display: grid;
}

.btn {
  margin-top: 10px;
}

.imgP {
  width: 100px;
}

.fondonegro {
  filter: brightness(0);
}
